{% load static %}

<!DOCTYPE html>
<html>
<head>
   
    <title>Audible Mailing Wizard</title>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   </head>
<body onload="responsiveVoice.speak('There is some error in sending Mail!');">

<!-- <div class="alert alert-success">Success! Well done its submitted.</div>
<div class="alert alert-info">Info! take this info.</div>
<div class="alert alert-warning">Warning ! Dont submit this.</div> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="alert alert-danger">Error ! Change few things. <a href="/awm/"> Go Back. </div>

</body>
</html>
